<div class="row">
<div class="span2">
    <a href="{{ path('_welcome')}}"><i class="icon-arrow-left"></i>{% trans %}terugkeren.hoofdpagina{% endtrans %}</a>
</div>
<div class="span10 ">
<h2>{% trans %}registreren.titel{% endtrans %}</h2>
<form action="{{ path('fos_user_registration_register', {'_locale' : app.request.locale}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register form-horizontal">
    {{ form_widget(form) }}
    <div class="controls">
        <input type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" class="btn btn-primary"/>
    </div>
</form>
</div>
</div>
